{% extends 'base.html' %}
{% block title %} D i m a {% endblock %}
{% block content %}
<div class="container">
    <br/>
  <h2> You Searched For:<strong><em>{{ searched }}</em></strong> </h2>
        <br/><br/><br/>
        {% if pictures %}
        {% for pic in pictures %}
        <div style="float:left; width:250px; height:300px;">
      <div class="card space">
      <a href="{{url_for('static', filename='images/'+ pic)}}" target="_blank"><img class="img-thumbnail" src="{{url_for('static', filename='images/'+ pic)}}" /></a>
      <div class="card-body align-self-center">
             <a href="{{url_for('static', filename='images/'+ pic)}}" target="_blank" class="btn btn-primary">View Image</a>
           </div>
      </div>
      </div> <br/>
        {% endfor %}
        {% else %}
        <h5>This Number: <strong>{{ searched }}</strong> doesnt have any pictures ...</h5>
        {% endif %}
</div>
{% endblock %}