{% extends 'base.html' %}
{% block title %} Dima {% endblock %}
{% block content %}

    <br/>
  <h2 class="centered"> Results For: <strong><em>{{ searched }}</em></strong> </h2>

    <section class="gallery min-vh-100">
        <div class="container-lg">
            <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
            {% if pictures %}
            {% for pic in pictures %}
                <div class="col">
                    <a href="{{ pic.path }}" target="_blank"><img src="{{ pic.path }}" class="gallery-item" alt="Gallery1"></a>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>

        {% else %}
        <h5>This Number: <strong>{{ searched }}</strong> doesnt have any pictures ...</h5>
        {% endif %}

{% endblock %}
